* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #800000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;     
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #800000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #800000;
    color: #ffffff;
    transform: scale(1.1);
}

.hero {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #cfcfcf;
    border-bottom: 0px solid #fff;
}

.hero1 {
    margin-top: 100px;
}

.hero h3 {
    margin-left: auto;
    text-align: left;
    font-size: xx-large;
}

.hero h1 {
    font-size: 3em;
    text-align: left;
    align-items: center;
}

.hero p {
    text-align: left;
    margin-bottom: 1rem;
}

.hero img {
    width: 370px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 0px solid #ffffff;
    
}

.about {
    padding: 50px;
    background-color: #fff;
    /* position: relative; */
    
}

.about-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    margin-bottom: 70px;
}
h2 {
    text-align: left;
    margin-left: 50px;
}

.about p {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}

.about-paragraph {
    width: 48%;
    text-align: justify;
    font-size: 15px;
}

.gallery {
    padding: 50px 20px;
    background-color: #cfcfcf;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.gallery-container div {
    flex: 1 1 30%;
    max-width: 25%;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    background-color: #800000;
    color: white;
    bottom: 0;
    justify-content: space-between;
}

footer img {
    width: 80px;
    height: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact, .social-media {
    margin-left: 30px;
}

.contact p, .social-media p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .hero img {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero h3 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1em;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer img {
        margin-bottom: 10px;
        
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .contact, .social-media {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .about-paragraph {
        width: 100%;
        margin-bottom: 20px;
    }

    .about h2 {
        text-align: center;
    }

    .about p {
        font-size: 1em;
    }

    .gallery-container {
        flex-direction: column;
    }

    .gallery-container div {
        flex: 1 
    }
}