html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Itim";
    background-color: #f5f5f5;
    
}

header {
    background-color: pink;
    padding: 20px 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    justify-content: center;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: palevioletred;
    font-size: 18px;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #e980c7;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    transition: .2s ease-in-out;
    transition-delay: .2s;

}

.text-container-nav {
    margin-left: 20px;
    margin-top: 80px;
    text-align: justify;
    font-size: 12px;
}

.text-container-nav h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

.text-container-nav h3 {
    font-size: 28px;
}

.text-container-nav p {
    color: palevioletred;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
}

.content-home {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(249, 232, 238);
    color: palevioletred;
    margin-bottom: 50px;
    width: 100%;
    flex-direction: row;
    height: 400px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
    color: palevioletred;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

.content h2 {
    font-size: 28px;
}

.row img{
    display: flex;
    gap: 20px;
}

.text-container {
    width: 45%;
    text-align: justify;
    font-size: 12px;
    margin-top: 30px;
    margin-left: -230px;
}

.text-container1 {
    width: 45%;
    text-align: justify;
    font-size: 12px;
    margin-top: 30px;
}

.text-container,
.text-container1 p {
    color: palevioletred;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
}

.image-container {
    width: 100%;
    background-color: rgb(249, 232, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 400px;
    height: 400px;
    filter: drop-shadow(10px 5px 20px palevioletred);
}

.gallery {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 90px;
}

.gallery-image {
    max-width: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative; 
}

.gallery-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.gallery-image:hover img {
    transform: scale(1.05);
}

.container-galeri{
    padding: 100px;
    margin-bottom: 0%;
    background-color: rgb(249, 232, 238);
}

.galeri-h2 {
    margin-top: -20px;
    margin-left: 110px;
    font-size: 30px;
    color: palevioletred;
}

footer {
    background-color: pink;
    color: palevioletred;
    padding: 20px;
    margin-top: -50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.contact-info {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: palevioletred;
    margin-right: 40px;
}
.contact-info a {
    text-decoration: none;
    color: palevioletred;
    font-size: 18px;
}

.contact-info p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    color: palevioletred;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

@media (max-width: 850px) {


    header {
        height: 50px;
    }

    .content-home,
    .content {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .text-container-nav,
    .text-container,
    .text-container1 {
        width: 95%;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .text-container, .text-container1{
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    .content-home{
        height: auto;
    }

    .image-container {
        order: -1;
        margin: 50px auto 0;
        /* text-align: left; */
        align-items: center;
        justify-content: center;
        margin-top: -100px;
    }

    .galeri-h2 {
        text-align: start;
        margin-left: 10px;
    }

    .gallery {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeri {
        padding: 50px;
        
    }

    footer {
        flex-direction: column;
        margin-top: 200px;
        z-index: 1000;
    }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    header {
    height: 50px;
    }

    .content-home,
    .content {
        padding: 10px;
    }

    .text-container-nav h3 {
        font-size: 24px;
    }

    .gallery {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
        margin-top: 200px;
        bottom: 0;
        }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
}

.about {
    margin: 0;
}