* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #85586F, #F8EDE3);
}

.wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
    color: #ffffff;
    padding: 20px;

    border-radius: 20px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.container {
    margin: 5% auto 0;
    text-align: center;
    margin-right: 85px;
}

.toggleswitch input {
    display: none;
}

.toggleswitch {
    width: 70px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.toggleswitch .konten {
    border: 2px solid purple;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.toggleswitch .konten::before {
    background-color: white;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    left: 1px;
    bottom: 1px;
}

.toggleswitch input:checked + .konten {
    background-color: purple;
}

.toggleswitch input:checked + .konten::before {
    background-color: white;
    transform: translateX(40px);
}


.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-gender {
    text-align: center;
    padding-top: 10px;
}

.wrapper .syarat-ketentuan {
    padding-top: 15px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    margin-top: 6px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    color: #333;
    font-weight: 600;
}

.wrapper p {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}

.layar1 {
    width: 420px;
    background: transparent;
    /* background: transparent; */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: rgb(45, 4, 57);
    border-radius: 10px;
    padding: 30px 20px 40px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
}

.layar1 h1{
    font-size: 30px;
    text-align: center;
}

.layar1 p {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}

.layar1 .btn {
    width: 100%;
    height: 40px;
    background: purple;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
}

.layar1 .btn:hover {
    color: black;
    background: white;
}